@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply bg-white-200;
}

html, body{
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: clamp(36px, 4.2vw, 60px);
	font-family: "Syncopate", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
}

h2 {
	font-size: clamp(32px, 2.8vw, 40px);
	font-family: "Syncopate", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
}

h3 {
	font-size: clamp(24px, 2.2vw, 32px);
	font-family: "Syncopate", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
}

h4 {
	font-size: clamp(16px, 1.67vw, 24px);
	font-family: "Syncopate", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
}

h6 {
	font-size: clamp(12px, 1.1vw, 16px);
	font-family: "Syncopate", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.caption {
	font-size: 12px;
	font-family: "Syncopate", sans-serif;
	line-height: 100%;
	font-weight: bold;
}

button {
	font-size: 16px;
	font-family: "Krona One", sans-serif;
	font-weight: normal;
}

input {
	font-size: 16px;
	font-family: "Krona One", sans-serif;
	font-weight: normal;
}

p {
	font-size: 16px;
	font-family: "Rubik", sans-serif;
	font-weight: 300;
}

a {
	font-family: "Rubik", sans-serif;
	font-weight: bold;
	font-size: 16px;
}

.button {
	font-family: "Krona One", sans-serif;
	font-weight: bold;
	font-size: 16px;
}

.layout {
	max-width: min(1440px, 100vw);
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0px clamp(20px, 2.4vw, 35px);
}
nav {
	padding: 0px clamp(20px, 2.4vw, 35px);

}